.card{
    perspective: 150rem;
    -moz-persective: 150rem;
    
    
    
    

    &__side{
        transition: all .8s;
        background-color: orangered;
        height: 50rem;
    }

    &:hover{

    transform: rotateY(180deg);
    }
}